/* DISABLED DISABLED
body {

	padding: 100px;
	text-align: left;
	background: rgb(238,235,228);
	font-size: 14xp;
	font-family: "Courier", "Times", serif;
	top-margin: 50px;
	left-margin: 75px;
}
DISABLED DISABLED */

body { 
	background-image: "/small-yellow-notebookpaper.jpg";
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

p {
	font-family: 'monaco', monospace;
}

