
body {

	padding: 50px;
	text-align: left;
	background: rgb(238,235,228);
	font-size: 14xp;
	font-family: "monaco", "courier", monospace;
	top-margin: 50px;
	left-margin: 75px;
}

/* ---------
p {
	font-family: 'monaco', monospace;
}
--------- */
