
body {

	padding: 100px;
	text-align: left;
	background: rgb(238,235,228);
	top-margin: 50px;
	left-margin: 75px;
}

h1 {
	font-family: monospace;
	font-size: 5vw;
}

h2 { 	
	font-family: monospace;
	font-size: 3.2vw;
}

p {
	font-family: 'Monaco', monospace;
	font-size: 2vw;
	
}

div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}

